h4 {
  background: coral;
  color: whitesmoke;
  margin: 10px;
  padding: 20px;
}

.container {
  border: 1px solid black;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one {
  flex-basis: 10px;
  flex-grow: 1;
  flex-shrink: 3;
  align-self: flex-start;
}

.two {
  flex-basis: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
}

.three {
  flex-basis: 10px;
  flex-grow: 3;
  flex-shrink: 0;
  align-self: flex-end;
}

.four {
  flex-basis: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
}

.five {
  flex-basis: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: flex-start;
}

/* Short Hand
flex:grow shrink basis */

ul {
  display: flex;
  background: cornflowerblue;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  margin: 5px 20px;
  list-style: none;
}

a {
  color: bisque;
  text-decoration: none;
}

li:nth-child(4) {
  margin-left: auto;
}
